.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  padding: 20px;
  border-bottom: solid;
}

.DragArea {
  display: inline-flex;
}

.Drag {
  margin: 20px;
}

.FileArea {
  border: dotted;
  padding: 10px;
  background-color: gray;
}

.Button {
  margin: 10px;
}

.Dropzone {
  border-style: solid;
  border-width: 2px;
}
